{% extends 'mailing_app/base.html' %}
{% block content %}
<h1>Пользователи</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.email }}</td>
      <td>{{ user.is_active|yesno:"Активен,Заблокирован" }}</td>
      <td>
        {% if request.user.pk != user.pk %}
        <form method="post" action="{% url 'users:user_block_toggle' user.pk %}">
          {% csrf_token %}
          <button type="submit">
            {% if user.is_active %}Заблокировать{% else %}Активировать{% endif %}
          </button>
        </form>
        {% else %}
          <em>Своя учетная запись</em>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">Пользователей нет.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
