{% extends 'mailing_app/base.html' %}
{% load form_tags %}

{% block title %}
    {% if view.object %}Редактировать рассылку{% else %}Добавить рассылку{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if view.object %}Редактировать рассылку{% else %}Добавить рассылку{% endif %}</h1>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'mailing_app/form_fields.html' with form=form %}
        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
        <a href="{% url 'mailing_app:mailing_list' %}" class="btn btn-outline-secondary ms-2">Отмена</a>
    </form>
</div>
{% endblock %}
